span{
    margin: auto;
    display: block;
    border-bottom: 5px solid gold;
    position: relative;
    border: 10px;
    width: max-content;
    height: max-content;
    font-size: 40px;

    
}

body{
    background-attachment: fixed;
    background-color: aliceblue;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    justify-content: center;
    margin: auto;
    text-align: center;
    
}

button{
    width: 60px;
    height: 30px;
    text-align: center;
    
}


h6{
    text-align: left;
}

